body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "dilo world", sans-serif;
  padding: 0;
  margin: 0;
  background: no-repeat url("./assets/sea.jpg") 0 0 / cover;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid #000;
  overflow: hidden;
}

#score {
  position: relative;
  width: 200px;
  text-align: center;
  font-size: 40px;
  color: #333;
  margin: 50px auto 0;
  padding: 10px 0;
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}

#time {
  font-size: 28px;
  padding: 20px;
  text-align: center;
}

#word-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.word {
  position: absolute;
  left: 0;
  top: 100%;
  font-weight: 500;
  font-size: 24px;
  font-family: "machine gunk", sans-serif;
}

#input-container {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

#user-input {
  padding: 10px;
  width: 200px;
  font-size: 24px;
  border: 3px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-family: "machine gunk", sans-serif;
}

#user-input.wrong {
  border-color: red;
}

#user-input.correct {
  border-color: greenyellow;
}

#user-input:focus {
  outline: none;
}

.btn-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.inner {
  border: 10px;
  background-color: #eddfc1;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  border: 10px solid rgb(226, 180, 89);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.result_score {
  display: block;
  font-size: 50px;
  color: rgb(193, 121, 19);
}

.restart_button {
  font-size: 40px;
  background-color: rgb(244, 169, 78);
  padding: 10px 20px;
  color: #fff;
  margin-top: 20px;
  border-radius: 100px;
  font-family: "machine gunk", sans-serif;
  border: 0;
}
